
@font-face{
	font-family: 'nidoCelliniFont';
    src: url('../assets/font/concertone-regular.woff2');
}

.navbar-brand {
	padding: 0.4em;
}

.logo {
    margin: 0;
}

.CelliniRounded {
	border-radius: 0.5em !important;
 }

  /* Abbassa i menu al passaggio del mouse */
 .dropdown:hover .dropdown-menu {
	display: block;
  }

  /* Risolve le mancate aperture dei menu */
  .dropdown-menu  {
	  margin-top: -2px;
  }

/* Stili della barra di navigazione */
.navbar-light .navbar-nav .active > .nav-link
{
	color:#ffffff;
	background: #17A2B8;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
	background: #138496;
}

.navbar-light .navbar-nav .nav-link{
	border-radius: 0.5em !important;
}
.dropdown-item:hover {
	color: white;
	text-decoration: none;
	background-color:#138496;
}

.dropdown-item
{
	color: black;
}

/* Modal */
.modal-big {
	max-width: 90% !important; 
  }

  
/* Modal per modificare le voci delle tabelle */
.modal-Edit-dialog{
    overflow-y: initial !important;
}
.modal-Edit-body{
	height: 78vh !important;
	overflow-y: auto !important;
}

.modal .modal-content{
	overflow: hidden;
}
.modal-header{
	border-top-width: 6px;
	border-top-color: #007bff;
	border-top-style: solid;
	
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

.modal-footer{
	border-bottom-width: 6px;
	border-bottom-color: #007bff;
	border-bottom-style: solid;

	padding-top: 0.1rem;
	padding-bottom: 0.3rem;
}

#modalDialogUpdateUserBody{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	overflow-y: scroll;
}


.stileModalErrore{
	background-color: rgba(255, 0, 0, 0.616);
	color: white;
}

.stileModalSuccesso
{
	background-color: rgba(0, 117, 0, 0.616);
	color: white;
}

/* Elimina il pulsante di chiusura nella finestra modal */
.modal-header .close {
	display:none;
  }

/* FINE MODAL */

/* Tooltip  */
.Dtooltip {
    position: relative;
    display: inline-block;
}

/* Testo del tooltip */
.Dtooltip .Dtooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Posizione del testo del tooltip */
    position: absolute;
	z-index: 1;
	width: 240px;
	bottom: 135%;
	left: 50%; 
    margin-left: -120px; 
}

.Dtooltip .Dtooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Mostra il tooltip quando passiamo col mouse sul controllo */
.Dtooltip:hover .Dtooltiptext {
    visibility: visible;
}
/* FINE TOOLTIP  */

/* Formato delle etichette */
.NuovoLabelCss{
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.5em;
	padding-top: 0.2em
}
/* Formato dei controlli di testo */
.NuovoInputCss{
	font-size: 1.2em;
	margin: 0.5em;
}

/* TABELLE */

/* Stile delle righe delle tabelle */
.rowLista{
	border-color: rgba(111, 111, 111, 0.5);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0.2em;
	
	margin-bottom: 0.30em;
	margin-left: 0.30em;
	margin-right: 0.30em;
	margin-left: 0.30em;
}

/* Parte esterna delle tabelle */
.ContentLista{
	border-color: rgba(111, 111, 111, 0.5);
	border-width: 0.3px;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.btn-secondary{
	background-color: rgb(18, 110, 124);
}

.btn-secondary:hover{
	background-color: #0c545f;
}

.btn-secondary.disabled{
	color: rgb(0, 0, 0);
}

#resize_wrapper {
	position: absolute;
	top: 12em;
	left: 1em;
	right: 1em;
	bottom: 1em;
}

/* FINE TABELLE */

.form-control::-moz-placeholder {
	color: rgba(124, 124, 124, 0.5);
}
.form-control:-ms-input-placeholder {
	color: rgba(124, 124, 124, 0.5);
}
.form-control::-webkit-input-placeholder {
	color: rgba(124, 124, 124, 0.5);
}
